:root{
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
    --mainText: black;
    --secondaryText: #4b5156;
    --accentColor: #17a2b8;
    --previewShadow: #f0ead6;
    --primaryBtn: green;
    --secondaryBtn: green;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'IBM Plex Mono', monospace;
}

a {
    text-decoration: none;
    color: var(--accentColor);
    font-family: 'IBM Plex Mono', monospace;
}

ul {
    list-style: none;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

.main-container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.navBarText{
    color: var(--mainText);
    font-family: 'IBM Plex Mono', monospace;
}


.logo {
    display: inline-block; 
    vertical-align: top;
    width: 50px;
    height: 50px;
    /* margin-right: 10px; */
    /* margin-top: 15px;    if you want it vertically middle of the navbar. */
}
.primary-btn {
    background: var(--primaryBtn);
    color: white;
    padding: 20px 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

.secondary-btn {
    background: var(--secondaryBtn);
    color: white;
    padding: 15px 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.ghost-btn {
    background: transparent;
    box-shadow: inset 0px 0px 0px 5px var(--primaryBtn);
    box-sizing: border-box;
    color: var(--primaryBtn);
    padding: 15px 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.profile-hero-section {
    border: 1px solid black;
    height: 300px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("./images/sample-hero-image.png");
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.profile-image-wrapper {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    z-index: 10;
    background-color: white;
    margin: -75px;
    background-image: url("./images/sample-profile-pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.user-info-section {
    height: 800px;
    position: relative;
    z-index: 0;
}

.left-user-column {
    width: 40%;
    height: 100%;
    float: left;
    padding: 80px 30px 30px 30px;
}

.user-info-card {
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

#user-about-info {
    margin-bottom: 30px;
    
}

.user-card-header {
    height: 50px;
    background-color: #c4c4c4;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 2px solid black;
    
}

.card-section {
    padding: 30px;
}

.project-image-wrapper {
    background-color: black;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
}

.right-user-column {
    width: 60%;
    height: 100%;
    float: right;
    padding: 80px 30px 30px 30px;
}

.code-form-wrapper {
    height: 632px;
}

.code-form {
    height: 200px;
    border-radius: 10px;
    background-color: #f7f7f7;
    border: 2px solid #000000;
    margin-bottom: 30px;
}

.code-form-div {
    height: 400px;
}

.bottom-form {
    margin-top: 80px;
    float: right;

}

.code-submit-button {
    margin-top: 60px;
    
}

.footer-section {
    border: 1px solid blue;
    height: 5vh;
    position: relative;
    z-index: 0;
}



@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
        margin: 0 auto;
    }
}